# Exercise Part 1

Use pandas to create a Series named fruits from the following list:


    ["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]

Use Series attributes and methods to explore your fruits Series.

In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
fruits = ["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]
fruits = pd.Series(fruits)

In [7]:
type(fruits)

pandas.core.series.Series

1. Determine the number of elements in fruits.

In [8]:
fruits.size

17

In [9]:
fruits.shape

(17,)

2. Output only the index from fruits.

In [10]:
fruits.index

RangeIndex(start=0, stop=17, step=1)

In [11]:
list(fruits.index)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

3. Output only the values from fruits.

In [12]:
fruits.values

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew', 'kiwi',
       'kiwi', 'kiwi', 'mango', 'blueberry', 'blackberry', 'gooseberry',
       'papaya'], dtype=object)

4. Confirm the data type of the values in fruits.

In [13]:
fruits.dtype

dtype('O')

5. Output only the first five values from fruits. Output the last three values. Output two random values from fruits.

In [14]:
fruits.head()

0          kiwi
1         mango
2    strawberry
3     pineapple
4    gala apple
dtype: object

In [15]:
fruits.tail(3)

14    blackberry
15    gooseberry
16        papaya
dtype: object

In [16]:
fruits.sample(2)

8     honeydew
10        kiwi
dtype: object

6. Run the .describe() on fruits to see what information it returns when called on a Series with string values.

In [17]:
fruits.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

7. Run the code necessary to produce only the unique string values from fruits.

8. Determine how many times each unique string value occurs in fruits.

9. Determine the string value that occurs most frequently in fruits.

10. Determine the string value that occurs least frequently in fruits.

# Exercise Part 2

Explore more attributes and methods while you continue to work with the fruits Series.

1. Capitalize all the string values in fruits.

In [19]:
fruits.str.capitalize()

0                 Kiwi
1                Mango
2           Strawberry
3            Pineapple
4           Gala apple
5     Honeycrisp apple
6               Tomato
7           Watermelon
8             Honeydew
9                 Kiwi
10                Kiwi
11                Kiwi
12               Mango
13           Blueberry
14          Blackberry
15          Gooseberry
16              Papaya
dtype: object

2. Count the letter "a" in all the string values (use string vectorization).

3. Output the number of vowels in each and every string value.

4. Write the code to get the longest string value from fruits.

5. Write the code to get the string values with 5 or more letters in the name.

6. Use the .apply method with a lambda function to find the fruit(s) containing the letter "o" two or more times.

7. Write the code to get only the string values containing the substring "berry".

8. Write the code to get only the string values containing the substring "apple".

9. Which string value contains the most vowels?